<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Magmodules_Core>
			<version>1.0.0</version>
		</Magmodules_Core>
	</modules>		
	<adminhtml>
		<layout>
			<updates>
				<magmodulescore>
					<file>magmodules/core.xml</file>
				</magmodulescore>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magmodules_Core>
					<files>
						<default>Magmodules_Core.csv</default>
					</files>
				</Magmodules_Core>
			</modules>
		</translate>
	</adminhtml>
</config>
